.card {
  border: none;
  cursor: pointer;
}

.card-img-top {
  transition: transform 0.3s;
}

.card:hover .card-img-top,
.card:focus .card-img-top {
  transform: scale(1.3);
}

.model {
  position: relative;
}

.glass {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 55%;

  transform: translateX(-50%);
}
